<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.demo.dao.UserMapper" >
    <resultMap id="BaseResultMap" type="com.test.demo.model.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="introduction" property="introduction" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List" >
        id, name, age, introduction
    </sql>

    <select id="selectByUser" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from t_user where 1 = 1
        <if test="user.id != null">
            and id = #{user.id, jdbcType=INTEGER}
        </if>
        <if test="user.name != null">
            and name like concat('%', #{user.name,jdbcType=VARCHAR}, '%')
        </if>
        <if test="user.password != null">
            and password = #{user.password,jdbcType=VARCHAR}
        </if>
        <if test="user.age != null">
            and age = #{user.age,jdbcType=INTEGER}
        </if>
        <if test="user.introduction != null">
            and introduction like concat('%',  #{user.introduction,jdbcType=VARCHAR}, '%')
        </if>
        limit #{page.current},#{page.size}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from t_user where id = #{id,jdbcType=BIGINT}
    </delete>
    <update id="updateByUser" parameterType="com.test.demo.model.User">
        update t_user
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="introduction != null">
                introduction = #{introduction,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <insert id="insertUser" parameterType="com.test.demo.model.User">
        insert into t_user(name,password, age, introduction)
        values
        (#{name, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR}, #{age, jdbcType=INTEGER}
            , #{introduction, jdbcType=VARCHAR})
    </insert>

    <select id="selectUserByName" resultType="com.test.demo.model.User">
        select <include refid="Base_Column_List" />
        from t_user where name = #{name,jdbcType=VARCHAR} and id != #{id, jdbcType=INTEGER} limit 1
    </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select <include refid="Base_Column_List" /> from t_user where id = #{id, jdbcType=INTEGER}
    </select>
</mapper>